<div id="<%= dom_id estoque %>">
  <p>
    <strong>Competencia:</strong>
    <%= estoque.competencia %>
  </p>

  <p>
    <strong>Qtde entrada:</strong>
    <%= estoque.qtde_entrada %>
  </p>

  <p>
    <strong>Qtde saida:</strong>
    <%= estoque.qtde_saida %>
  </p>

  <p>
    <strong>Qtde estoque:</strong>
    <%= estoque.qtde_estoque %>
  </p>

</div>
