<%= form_with(model: estoque) do |form| %>
  <% if estoque.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(estoque.errors.count, "error") %> prohibited this estoque from being saved:</h2>

      <ul>
        <% estoque.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :competencia, style: "display: block" %>
    <%= form.number_field :competencia %>
  </div>

  <div>
    <%= form.label :qtde_entrada, style: "display: block" %>
    <%= form.number_field :qtde_entrada %>
  </div>

  <div>
    <%= form.label :qtde_saida, style: "display: block" %>
    <%= form.number_field :qtde_saida %>
  </div>

  <div>
    <%= form.label :qtde_estoque, style: "display: block" %>
    <%= form.number_field :qtde_estoque %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
