<%= form_with(model: titulo_pagar) do |form| %>
  <% if titulo_pagar.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(titulo_pagar.errors.count, "error") %> prohibited this titulo_pagar from being saved:</h2>

      <ul>
        <% titulo_pagar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :numero_parcela, style: "display: block" %>
    <%= form.number_field :numero_parcela %>
  </div>

  <div>
    <%= form.label :data_vencimento, style: "display: block" %>
    <%= form.date_field :data_vencimento %>
  </div>

  <div>
    <%= form.label :valor_parcela, style: "display: block" %>
    <%= form.text_field :valor_parcela %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
